.header{
    display: flex;
    background-color: rgb(50, 167, 145)
}

.trybewarts-login {
    display: flex;
}
main{
    display: flex;
}
main form{
    display: flex;
    width: 675px;
}
#main-pag{
    display: flex;
    justify-content: space-between;
}
#evaluation-form{
    display: inline-flex;
    flex-direction: column;
}
#trybewarts-forms-logo{
    height: 500px;
}
#conteudo2{
    display: flex;
    align-items: center;
    
    height: 250px;
    justify-content: space-around;
}
#Qfamilia div{
    display: flex;
    flex-direction: column;
    
}
#Qconteudo div{

    flex-direction: row;
    flex-flow: wrap;
   
    height: 100px;
    width: 55%;

}
#avalicao div{
    display: flex;
}
#checkboxAvalicao{
    display: flex;
}
main div{
    margin: 20px 0;
    justify-content: center;
}
#textAvalicao{
flex-direction: column;
}